{% extends "common/dark_base.html" %}

{% block content %}

<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item">Projects</li>
  <li class="breadcrumb-item active">New</li>
</ol>

  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="card ">
        <form action="" method="POST" class="form" role="form">
          <div class="card-header ">
            <strong>New Project</strong>
          </div>
          <div class="card-body ">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" required="true" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter a name">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" required="true" id="description" name="description" rows="3"></textarea>
                </div>
          </div>
          <div class="card-footer ">
            <button id="loading" style="margin-left: 20px; display:none;" class="btn btn-sm btn-primary" disabled><i class='fa fa-circle-o-notch fa-spin'></i> Importing Data...</button><button type="submit" class="btn btn-sm btn-primary" id="submit" onclick="if ($('#form')[0].checkValidity() == true) { $('#submit').toggle();$('#loading').toggle(); }">Create</button>                 
            <a class="btn btn-sm btn-danger" href="{{ url_for('main.project_page') }}"><i class="fa fa-ban "></i> Cancel</a>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}
