{% extends "common/dark_base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.project_page') }}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.my_project_page', project_id=my_data.project.id) }}">{{my_data.project.name}}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('data.data_details_page', data_id=my_data.id) }}">{{my_data.name}}</a></li>
    <li class="breadcrumb-item active">{{my_model.name}}</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card ">
            <div class="card-header">
                <strong>Model Details: {{my_model.name}}</strong>
            </div>
            <div class="card-body">
                <div class="d-none d-lg-inline">
                    <button id="loading" style="margin-left: 20px; display:none;" class="btn btn-secondary btn-sm pull-right" disabled><i class='fa fa-circle-o-notch fa-spin'></i> Running Validation...</button>

                    {% if my_data.num_rows < 2000 %} 
                        <a href={{ url_for( 'model.cross_validation_page', model_id=my_model.id) }} id="validation" onclick="$('#validation').toggle();$('#loading').toggle();" class="btn btn-success btn-sm pull-right" style="background: #1387b1; margin-left: 20px; border: #1387b1"><i class="fa fa-wrench" aria-hidden="true"></i>
&nbsp;Validate Model</a>
                        {% if my_model.features['model_class'] == "predictor" %}
                        <button id="bootloading" style="margin-left: 20px; display:none;" class="btn btn-secondary btn-sm pull-right" disabled><i class='fa fa-circle-o-notch fa-spin'></i> Calculating Bootstrap...</button>
                        <a href={{ url_for( 'model.bootstrap_page', model_id=my_model.id) }} id="bootstrap" onclick="$('#bootstrap').toggle();$('#bootloading').toggle();" class="btn btn-success btn-sm pull-right" style="background: #1387b1; margin-left: 20px; border: #1387b1"><i class="fa fa-plus-square-o" aria-hidden="true"></i>
&nbsp;Bootstrap Confidence Intervals</a> {% endif %} {% else %}
                        <a href="#" id="validation" class="btn btn-secondary btn-sm pull-right d-none d-lg-inline" style="background: #E0E0E0; margin-left: 20px;">Validate Model</a> {% if my_model.features['model_class'] == "predictor" %}
                        <a href="#" id="bootstrap" class="btn btn-secondary btn-sm pull-right d-none d-lg-inline" style="background: #E0E0E0; margin-left: 20px;">Bootstrap Confidence Intervals</a> {% endif %} {% endif %}
                        <a href={{ url_for( 'model.model_analytics_page', model_id=my_model.id) }} id="analytics" class="btn btn-success btn-sm pull-right d-none d-lg-inline" style="background: #1387b1; margin-left: 20px; border: #1387b1"><i class="fa fa-area-chart" aria-hidden="true"></i>
&nbsp;API Analytics</a><a href={{ url_for( 'model.web_api_page', model_id=my_model.id) }} id="web_api" class="btn btn-success btn-sm pull-right d-none d-lg-inline" style="background: #1387b1; margin-left: 20px; border: #1387b1"><i class="fa fa-file-code-o" aria-hidden="true"></i>
&nbsp;Web API</a><a href={{ url_for( 'model.predictions_page', model_id=my_model.id) }} id="analyze" class="btn btn-success btn-sm pull-right d-none d-lg-inline" style="background: #1387b1; margin-left: 20px; border: #1387b1"><i class="fa fa-cube" aria-hidden="true"></i>
&nbsp;Predictions</a>
                </div>
                <br>
                <br>

                <div class="card ">
                    <div class="card-header">
                        <strong>Model Summmary</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="d-none d-lg-table-cell">Name</th>
                                    <th>Target</th>
                                    <th>Class</th>
                                    <th>Type</th>
                                    {% if my_model.features['model_type'] == 'deep' %}
                                    <th>Session ID</th>
                                    <th>Time Field</th>
                                    {% endif %}
                                    <th class="d-none d-lg-table-cell">Training Data</th>
                                    {% if my_model.features['model_type'] == 'random' or my_model.features['model_type'] == 'gradient' %}
                                    <th class="d-none d-lg-table-cell">Max Iterations</th>
                                    <th class="d-none d-lg-table-cell">Max Depth</th>
                                    {% endif %} {% if my_model.features['model_type'] == 'decision' %}
                                    <th class="d-none d-lg-table-cell">Max Depth</th>
                                    {% endif %} {% if my_model.features['model_type'] == 'svm' or my_model.features['model_type'] == 'deep' %}
                                    <th class="d-none d-lg-table-cell">Max Iterations</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="d-none d-lg-table-cell">{{my_model.name}}</td>
                                    <td>{{my_model.features["target"]}}</td>
                                    <td>{{my_model.features["model_class"]}}</td>
                                    <td>{{my_model.features["model_type"]}}</td>
                                    {% if my_model.features['model_type'] == 'deep' %}
                                    <td>{{my_model.features["session_id"]}}</td>
                                    <td>{{my_model.features["time_field"]}}</td>
                                    {% endif %}
                                    <td class="d-none d-lg-table-cell">{{my_data.name}}</td>
                                    {% if my_model.features['model_type'] == 'random' or my_model.features['model_type'] == 'gradient' %}
                                    <td class="d-none d-lg-table-cell">{{my_model.options["max_iterations"]}}</td>
                                    <td class="d-none d-lg-table-cell">{{my_model.options["max_depth"]}}</td>
                                    {% endif %} {% if my_model.features['model_type'] == 'decision' %}
                                    <td class="d-none d-lg-table-cell">{{my_model.options["max_depth"]}}</td>
                                    {% endif %} {% if my_model.features['model_type'] == 'svm' or my_model.features['model_type'] == 'deep' %}
                                    <td class="d-none d-lg-table-cell">{{my_model.options["max_iterations"]}}</td>
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer "></div>
                </div>
                <div class="card ">
                    <div class="card-header">
                        <strong>Training Data Summmary</strong>
                    </div>
                    <div class="card-body">
                        <div id="model_training_summary" style="height: 200px; margin: 0 auto"></div>
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Total Features</th>
                                    <th>Num of Training Features</th>
                                    <th class="d-none d-lg-table-cell">Total Rows</th>
                                    <th class="d-none d-lg-table-cell">Training Rows</th>
                                    <th class="d-none d-lg-table-cell">Test Rows</th>
                                    <th>Training Loss</th>
                                    <th>Optimal Rows</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{my_data.num_cols}}</td>
                                    <td>{{feat_len}}</td>
                                    <td class="d-none d-lg-table-cell">{{my_data.num_rows}}</td>
                                    <td class="d-none d-lg-table-cell">{{my_model.features['training_rows']}}</td>
                                    <td class="d-none d-lg-table-cell">{{my_model.features['test_rows']}}</td>
                                    <td>{{my_model.features['training_loss'] | round(4)}}%</td>
                                    <td>{{optimal_lower}} - {{optimal_upper}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer "></div>
                </div>
                <div class="card ">
                    <div class="card-header">
                        <strong>Model Performance</strong>
                    </div>
                    <div class="card-body">
                        
                            {% if my_model.features['model_class'] != "predictor" and my_model.model_status() == "valid"%}
                                <div id="model_summary" style="height: 250px; margin: 0 auto"></div>
                            {% endif %}
                            {% if my_model.model_status() == "failed" %}
                            <p style="color: red"><strong>This model is not valid. See training loss and model metrics.</strong></p>
                            {% endif %}                            
                        
                            <table class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        {% if my_model.features['model_class'] == "predictor" %}
                                            <th>Max Error</th>
                                            <th>RMSE</th>
                                        {% else %} 
                                            {% if my_model.features['model_type'] != 'svm' and my_model.features['model_type'] != 'deep' %}
                                                <th>F1 Score</th>
                                                <th>AUC</th>
                                                <th>Recall</th>
                                                <th>Precision</th>
                                                <th>Accuracy</th>
                                            {% else %}
                                                <th>F1 Score</th>
                                                <th>Recall</th>
                                                <th>Precision</th>
                                                <th>Accuracy</th>
                                            {% endif %} 
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% if my_model.features['model_class'] == "predictor" %}
                                        <td>{{my_model.results["max_error"] | round(4)}}</td>
                                        <td>{{my_model.results["rmse"] | round(4)}}</td>
                                        {% else %}
                                        <td>{{my_model.results["f1_score"] | round(4)}}</td>
                                        {% if my_model.features['model_type'] != 'svm' and my_model.features['model_type'] != 'deep' %} {% if my_model.results["auc"] != None %}
                                        <td>{{my_model.results["auc"] | round(4)}}</td>
                                        {% else %}
                                        <td>None</td>
                                        {% endif %} {% endif %}
                                        <td>{{my_model.results["recall"] | round(4)}}</td>
                                        <td>{{ my_model.results["precision"] |round(4) if my_model.results["precision"] != None else 'N/A' }}</td>
                                        <td>{{my_model.results["accuracy"] | round(4)}}</td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="card-footer "></div>
                </div>
                {% if my_model.model_status() == "valid" %}
                    <div class="card ">
                        <div class="card-header">
                            <strong>Data Performance</strong>
                        </div>
                        <div class="card-body">
                            <div class="card ">
                                <div class="card-header">
                                    <strong></strong>
                                </div>
                                <div class="card-body">
                                    <div id="container_integ" style="max-width: 800px; height: 200px; margin: 0 auto"></div>
                                </div>
                                <div class="card-footer "></div>
                            </div>
                            {% if my_model.features['model_type'] != 'linear' and my_model.features['model_type'] != 'svm' and my_model.features['model_type'] != 'deep' %}
                            <div class="card ">
                                <div class="card-header">
                                    <strong></strong>
                                </div>
                                <div class="card-body">
                                    <div id="container" style="height: 400px; margin: 0 auto"></div>
                                </div>
                                <div class="card-footer "></div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-footer "></div>
                    </div>
                {% endif %}

                <div class="card ">
                    <div class="card-header">
                        <strong>Console Output</strong>
                    </div>
                    <div class="card-body">
                        <pre class="d-none d-lg-block">
                      {{my_model.console}}
                    </pre>
                    </div>
                    <div class="card-footer "></div>
                </div>
                <div class="card ">
                    <div class="card-header">
                        <strong>Training Features</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for col in my_model.features["features"] %}
                                <tr>
                                    <td>{{col}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer "></div>
                </div>
            </div>
            <div class="card-footer "></div>
        </div>
    </div>
</div>

<script>
$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
});
  Highcharts.chart("model_training_summary", {
      chart: {
          type: 'bar',
          "backgroundColor":"#f0f3f5"
      },
      credits: {
        enabled: false
      },
      colors: [
          '#B16070',
          '#628148',
          '#0081af'
      ],
      title: {
          text: 'Model Data Performance',
          "style": { "color": "#000", "fontSize": "14px" }
      },
      xAxis: {
          categories: ['Minimum', 'Optimal', 'Total Available'],
          "style": { "color": "#000", "fontSize": "10px" },
          labels: {
              style: {
                  color: '#000'
              }
          }
      },
      yAxis: {
          min: 0,
          title: {
              text: '',
              "style": { "color": "#000", "fontSize": "10px" }
          },
          labels: {
            overflow: 'justify',
            style: {
                color: '#000'
            }
          }
      },
      legend: {
          itemStyle: {
               font: '9pt Roboto, sans-serif',
               "color": "#000",
               "style": { "color": "#000", "fontSize": "10px" }
          },
          itemHoverStyle: {
               color: '#000'
          },
          itemHiddenStyle: {
               color: '#444'
          },
          labels: {
            style: {
                color: '#000'
            }
          }
      },
      plotOptions: {
          bar: {
              dataLabels: {
                  enabled: true,
                  "color": '#000'
              }
          }
      },
      series: [{
          name: 'Number of Observations',
          colorByPoint: true,
          data: [{{optimal_lower}}, {{optimal_upper}}, {{my_model.features['training_rows']}} ]
      }]
  });
{% if my_model.features['model_class'] != "predictor" %}
  Highcharts.chart("model_summary", {
      chart: {
          type: 'bar',
          "backgroundColor":"#f0f3f5"
      },
      credits: {
        enabled: false
      },
      title: {
          text: 'Model Performance Summary',
          "style": { "color": "#000", "fontSize": "14px" }
      },
      xAxis: {
        {% if my_model.features['model_type'] != 'svm' and my_model.features['model_type'] != 'deep' %}
            categories: ['F1 Score', 'AUC', 'Recall', 'Precision', 'Accuracy'],
        {% else %}
            categories: ['F1 Score', 'Recall', 'Precision', 'Accuracy'],
        {% endif %}                 
          "style": { "color": "#000", "fontSize": "10px" },
          labels: {
              style: {
                  color: '#000'
              }
          }
      },
      yAxis: {
          min: 0,
          max: 1,
          title: {
              text: '',
              "style": { "color": "#000", "fontSize": "10px" }
          },
          labels: {
            overflow: 'justify',
            style: {
                color: '#000'
            }
          }
      },
      legend: {
          itemStyle: {
               font: '9pt Roboto, sans-serif',
               "color": "#000",
               "style": { "color": "#000", "fontSize": "10px" }
          },
          itemHoverStyle: {
               color: '#000'
          },
          itemHiddenStyle: {
               color: '#444'
          },
          labels: {
            style: {
                color: '#000'
            }
          }
      },
      plotOptions: {
          bar: {
              dataLabels: {
                  enabled: true,
                  "color": '#000'
              }
          }
      },
      series: [{
          name: 'Probablity of Correctness',
          color: "#0081af",
        {% if my_model.features['model_type'] != 'svm' and my_model.features['model_type'] != 'deep' %}
            data: [{{ my_model.results["f1_score"] | round(4) if my_model.results["f1_score"] is not none else 'None' }}, {{ my_model.results["auc"] | round(4) if my_model.results["auc"] is not none else 'None' }}, {{ my_model.results["recall"] | round(4) if my_model.results["recall"] is not none else 'None' }}, {{ my_model.results["precision"] | round(4) if my_model.results["precision"] is not none else 'None' }}, {{ my_model.results["accuracy"] | round(4) if my_model.results["accuracy"] is not none else 'None' }}]
        {% else %}
           data: [{{my_model.results["f1_score"] | round(4)}}, {{my_model.results["recall"] | round(4)}}, {{my_model.results["precision"] | round(4)}}, {{my_model.results["accuracy"] | round(4)}}]
        {% endif %}                                   
      }]
  });
{% endif %}
Highcharts.chart('container_integ', {
    chart: {
        type: 'bar'
    },
    credits: {
        enabled: false
    },
    title: {
        text: 'Dropped vs. Included Rows'
    },
    xAxis: {
        categories: ['{{my_model.name}}']
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Model Data Integrity'
        }
    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Included',
        data: [{{included_rows}}],
        color: "#0081af"
    }, {
        name: 'Dropped',
        data: [{{missing_rows}}],
        color: "#ad0000"
    }]
});
{% if my_model.features['model_type'] != 'linear' and my_model.features['model_type'] != 'svm' %}
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    credits: {
        enabled: false
    },
    title: {
        text: 'Feature Importance'
    },
    subtitle: {
        text: 'Relative'
    },
    xAxis: {
        categories: {{feats|safe}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Count'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Features',
        data: {{imps|safe}},
        color: "#0081af"

    }]
});
{% endif %}
</script>
{% endblock %}
