{% extends "common/dark_base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.project_page') }}">Projects</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('main.my_project_page', project_id=my_data.project.id) }}">{{my_data.project.name}}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('data.data_details_page', data_id=my_data.id) }}">{{my_data.name}}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('model.model_details_page', model_id=my_model.id) }}">{{my_model.name}}</a></li>
    <li class="breadcrumb-item active">Web API</li>
</ol>

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="card ">
            <div class="card-header ">
                <strong>Model API</strong>
            </div>
            <div class="card-body ">
              <div class="card ">
                  <div class="card-header">
                      <strong>API Key</strong>
                  </div>
                  <div class="card-body">
                    {{my_model.api_key}}
                  </div>
                  <div class="card-footer "></div>
              </div>   
              <div class="card ">
                  <div class="card-header">
                      <strong>HTTP Route</strong>
                  </div>
                  <div class="card-body">
                    {{ url_for('api.predict_page', api_key=my_model.api_key) }}
                  </div>
                  <div class="card-footer "></div>
              </div>     
              <div class="card ">
                  <div class="card-header">
                      <strong>Example Payload</strong>
                  </div>
                  <div class="card-body">
                    <pre>{{example_json | safe}}</pre>
                  </div>
                  <div class="card-footer "></div>
              </div>     
              <div class="card ">
                  <div class="card-header">
                      <strong>Example HTTP Response</strong>
                  </div>
                  <div class="card-body">
                    <pre>200 OK - Everything worked.
{ prediction: 20.22 }</pre>
                  </div>
                  <div class="card-footer "></div>
              </div>                                                          
            </div>

            <div class="card-footer "></div>
        </div>
    </div>
</div>


{% endblock %}