{% extends "common/dark_base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item"><a href="{{ url_for('main.project_page') }}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('main.my_project_page', project_id=my_data.project.id) }}">{{my_data.project.name}}</a></li>
  <li class="breadcrumb-item"><a href={{ url_for('data.data_details_page', data_id=my_data.id) }}>{{my_data.name}}</a></li>
  <li class="breadcrumb-item active">Data Transformation</li>
</ol>

<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="card ">
        <div class="card-header ">
            <strong>Select a transform below to create derived data sets.</strong>
        </div>
        <div class="card-body ">
          <p>
            <i>All changes are non-destructive and result in the creation of new data sets.</i>
          </p>          
          <table class="table table-hover table-striped table-bordered">
            <thead>
              <tr>
                <th>Method</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><a href={{ url_for('transforms.unique_page', data_id=my_data.id) }}>Add Unique Identifier</a></td>
                <td>Add a unique identifier to each row of your data set.</td>
              </tr>   
              <tr>
                <td><a href={{ url_for('transforms.classify_page', data_id=my_data.id) }}>Bounded Classifier</a></td>
                <td>Classifiy data based on numeric ranges.</td>
              </tr>   
              <tr>
                <td><a href={{ url_for('transforms.calculate_slope_page', data_id=my_data.id) }}>Calculate Slope</a></td>
                <td>Calculate slope of change for longitudinal data to develop a model that can forecast future state.</td>
              </tr>
              <tr>
                <td><a href={{ url_for('transforms.rolling_slope_page', data_id=my_data.id) }}>Calculate Slope (incremental)</a></td>
                <td>Calculate rolling slope of change for longitudinal data to develop a model that can forecast future state.</td>
              </tr>
              <tr>
                <td><a href={{ url_for('transforms.convert_magic_page', data_id=my_data.id) }}>Clear Magic</a></td>
                <td>Useful for cleaning data sets. Delete a hard-coded value from the data set.</td>
              </tr>
              <tr>
                <td><a href={{ url_for('transforms.recode_step1_page', data_id=my_data.id) }}>Code Field</a></td>
                <td>Re-code a text field to numeric for use as a target in a classification model.</td>
              </tr>
              <tr>
                <td><a href={{ url_for('transforms.clear_na_page', data_id=my_data.id) }}>Drop N/A</a></td>
                <td>Useful for cleaning data sets. Drop N/A values from the data set.</td>
              </tr>                 
              <tr>
                <td><a href={{ url_for('transforms.fill_na_page', data_id=my_data.id) }}>Fill N/A (NaN/None)</a></td>
                <td>Replace N/A (NaN/None) values with a speciifc value.</td>
              </tr>
              <tr>
                <td><a href={{ url_for('transforms.remove_columns_page', data_id=my_data.id) }}>Remove Columns</a></td>
                <td>Remove one or more columns from the data set.</td>
              </tr>
              <tr>
                <td><a href={{ url_for('transforms.rename_feature_page', data_id=my_data.id) }}>Rename Column</a></td>
                <td>Rename a column to something else.</td>
              </tr>    
              <tr>
                <td><a href={{ url_for('transforms.dedup_page', data_id=my_data.id) }}>Remove Duplicates</a></td>
                <td>Remove duplicate rows from this data set.</td>
              </tr>   
              <tr>
                <td><a href={{ url_for('transforms.rowdiff_page', data_id=my_data.id) }}>Row Diff</a></td>
                <td>Calculate difference between selected columns by row.</td>
              </tr>                  
              <tr>
                <td><a href={{ url_for('transforms.rowsum_page', data_id=my_data.id) }}>Row Sum</a></td>
                <td>Sum selected columns by row.</td>
              </tr>                 
              <tr>
                <td><a href={{ url_for('transforms.sample_page', data_id=my_data.id) }}>Sample</a></td>
                <td>Create a derived data set that is a subset of this one.</td>
              </tr>                
              <tr>
                <td><a href={{ url_for('transforms.smote_step1', data_id=my_data.id) }}>SMOTE</a></td>
                <td>Synthetic Minority Oversampling Technique</td>
              </tr>   
              <tr>
                <td><a href={{ url_for('transforms.split_page', data_id=my_data.id) }}>Training/Test Split</a></td>
                <td>Randomly sample the original data and create two new fractional data sets.</td>
              </tr>    
              <tr>
                <td><a href={{ url_for('transforms.split_session_page', data_id=my_data.id) }}>Training/Test Split (session based)</a></td>
                <td>For longitudinal data (or time series sensors),randomly sample the original data and create two new fractional data sets.</td>
              </tr>      
              <tr>
                <td><a href={{ url_for('transforms.outlliers_page', data_id=my_data.id) }}>Univariate Outlier Removal (percent)</a></td>
                <td>Remove a specificed percent of outliers for a feature.</td>
              </tr>
              <tr>
                <td><a href={{ url_for('transforms.outlliers_threshold_page', data_id=my_data.id) }}>Univariate Outlier Removal (threshold)</a></td>
                <td>Remove outliers over a specified threshold for a feature.</td>
              </tr>                                                                          
            </tbody>
          </table>
        </div>
        <div class="card-footer "></div>
    </div>
`</div>
</div>

{% endblock %}
