{% extends "common/dark_base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item">Home</li>
  <li class="breadcrumb-item"><a href="{{ url_for('main.project_page') }}">Projects</a></li>
  <li class="breadcrumb-item"><a href="{{ url_for('main.my_project_page', project_id=my_data.project.id) }}">{{my_data.project.name}}</a></li>
  <li class="breadcrumb-item"><a href={{ url_for('data.data_details_page', data_id=my_data.id) }}>{{my_data.name}}</a></li>
  <li class="breadcrumb-item active">Slice</li>
</ol>

  <div class="container-fluid">
    <div class="animated fadeIn">
      <div class="card ">
        <form action="" id="form" method="POST" class="form" role="form">
          <div class="card-header ">
            <strong>Compare descriptive statistics for selected fields by label</strong>
          </div>
          <div class="card-body ">
            {{ form.hidden_tag() }}
            <input type="hidden" name="data_id" value="{{my_data.id}}">

            <div class="form-group">
              <label for="features">Select a Label (Category) to Slice By</label>
              <select class="form-control" id="label" required="true" name="label">
                {% for x in range(0, names.__len__()) %}
                  {% if types[x].__name__ == "str" %}
                   <option value="{{names[x]}}">{{names[x]}} ({{types[x].__name__}})</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>    

            <div class="form-group">
              <label for="features">Select One or More Features</label>
              <select multiple class="form-control" id="features" required="true" name="features" style="height:200px;">
                {% for x in range(0, names.__len__()) %}
                  {% if types[x].__name__ != "str" %}
                   <option value="{{names[x]}}">{{names[x]}} ({{types[x].__name__}})</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>     

          </div>
          <div class="card-footer ">
            <button id="loading" style="margin-left: 20px; display:none;" class="btn btn-sm btn-primary" disabled><i class='fa fa-circle-o-notch fa-spin'></i> Analyzing Data...</button><button type="submit" class="btn btn-sm btn-primary" id="submit" onclick="if ($('#form')[0].checkValidity() == true) { $('#submit').toggle();$('#loading').toggle(); }">Analyze</button>                 
            <a class="btn btn-sm btn-danger" href="{{ url_for('data.data_details_page', data_id=my_data.id) }}"><i class="fa fa-ban "></i> Cancel</a>
          </div>
        </form>
      </div>
	    {% if to_render == True %}
	        <div class="card ">
	          <div class="card-header ">
	            <strong>Results</strong>
	          </div>
	          <div class="card-body ">
	            {% for feature in features %}
	            <div id="container_{{feature}}" style="height: 500px; margin: auto; min-width: 310px; max-width: 1000px"></div>
	            {% endfor %}
	          </div>
	          <div class="card-footer "></div>
	        </div>               
	    {% endif %}      
  </div>
</div>

<script>
{% if to_render == True %}
{% for feature in features %}
Highcharts.chart('container_{{feature}}', {

    chart: {
        type: 'boxplot'
    },
    credits: {
        enabled: false
    },

    title: {
        text: 'Data Feature: {{feature}}'
    },

    legend: {
        enabled: false
    },

    xAxis: {
        categories: {{labels | safe}},
        title: {
            text: 'Label'
        }
    },

    yAxis: {
        title: {
            text: 'Score'
        },
        plotLines: [{
            value: {{means[feature]}},
            color: 'red',
            width: 1,
            label: {
                text: 'Mean: {{means[feature]}}',
                align: 'center',
                style: {
                    color: 'gray'
                }
            }
        }]
    },

    series: [{
        name: 'Observations',
        data: {{boxplots[feature] | safe}},
        tooltip: {
            headerFormat: '<em>Experiment No {point.key}</em><br/>'
        }
    }, {
        name: 'Outlier',
        color: Highcharts.getOptions().colors[0],
        type: 'scatter',
        data: {{outliers[feature] | safe}},
        marker: {
            fillColor: 'white',
            lineWidth: 1,
            lineColor: Highcharts.getOptions().colors[0]
        },
        tooltip: {
            pointFormat: 'Observation: {point.y}'
        }
    }]

});
{% endfor %}           
{% endif %}

</script>
{% endblock %}
